# vim: set noexpandtab:
[user]
	name = Jonathan A. Sternberg
	email = jonathan@influxdb.com
[core]
	editor = vim
	excludesfile = {{ "~/.gitignore_global" | expanduser }}
[color]
	ui = auto
[fetch]
	prune = true
[push]
	default = nothing
[alias]
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
	amend = commit --amend --no-edit
	brief = !git --no-pager log --decorate -n 25 --graph --oneline
	c = commit --no-verify
	cached = diff --cached
	co = change-branch
	cp = cherry-pick
	count = !git rev-list --count ${1:-HEAD}
	edit = commit --amend
	ff = merge --ff-only
	fuckit = !git reset --hard HEAD && git clean -df
	logd = log --decorate
	ra = rebase --abort
	rc = rebase --continue
	reset-author = commit --reset-author --amend --no-edit
	root = rev-parse --show-toplevel
	pushf = push --force-with-lease
	signoff = commit --amend --signoff
	st = status
	stat = show --stat
	tree = log --graph --oneline --decorate
	undo = reset --hard
[grep]
	lineNumber = true
[merge]
	defaultToUpstream = true
[pull]
	ff = only
[git-up "rebase"]
	auto = false
[diff]
	compactionHeuristic = true
